# Server
DATABASE_URL="postgresql://postgres:password@localhost:5433/07nghiep"
BETTER_AUTH_SECRET="your-secret-key-at-least-32-characters-long-here"
BETTER_AUTH_URL="http://localhost:3000"
CORS_ORIGIN="http://localhost:3001,http://localhost:3002,http://localhost:3003"
SERVER_PORT=3000